:root {
  --tgrey: #2c3532;
  --tgreen: #0f6562;
  --ty: #d8b08c;
  --thoney: #ffcb99;
  --tlight: #d3eae4;
}
@font-face {
  font-family: "righteousregular";
  src: url("../font/righteous-regular-webfont.woff2") format("woff2"),
    url("../font/righteous-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: "righteousregular";
}
nav {
  background-color: var(--tgrey);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  color: var(--tlight);
}
.link-container {
  display: flex;
  flex-wrap: wrap;

  text-decoration: none;
  list-style: none;
  flex-grow: 2;
}
.nav-link a {
  padding: 0 2rem;
  color: var(--tlight);
  text-decoration: none;
}
.panier {
  background-color: var(--tgreen);
  color: var(--thoney);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--thoney);
}

header {
  background-image: url("../img/3d-printer.png");
  background-color: #37504f;
  background-repeat: no-repeat;
  background-position: 90%;

  height: 80vh;
}
header h1 {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 10%;
  color: var(--ty);
  font-size: 6rem;
  transform: rotate(-5deg);
  text-shadow: -4px 5px 4px #ce5937;
}
header p {
  position: absolute;
  top: 42%;
  left: 20%;
  color: var(--tlight);
  font-size: 2rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: var(--tgrey);
  text-transform: uppercase;

  text-shadow: 0px 0px 0 #899cd5, 1px 1px 0 #8194cd, 2px 2px 0 #788bc4,
    3px 3px 0 #6f82bb, 4px 4px 0 #677ab3, 5px 5px 0 #5e71aa, 6px 6px 0 #5568a1,
    7px 7px 0 #4c5f98, 8px 8px 0 #445790, 9px 9px 0 #3b4e87, 10px 10px 0 #32457e,
    11px 11px 0 #2a3d76, 12px 12px 0 #21346d, 13px 13px 0 #182b64,
    14px 14px 0 #0f225b, 15px 15px 0 #071a53, 16px 16px 0 #02114a,
    17px 17px 0 #0b0841, 18px 18px 0 #130039, 19px 19px 0 #1c0930,
    20px 20px 0 #251227, 21px 21px 20px rgba(0, 0, 0, 1),
    21px 21px 1px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.2),
    0px -10px 4px rgba(44, 53, 50, 0.02);
  color: var(--tgreen);
}
.updates-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--tgrey);
}
.updates-container section {
  padding: 2rem;
}
.updates-container article {
  display: flex;
  gap: 1rem;
  background-color: var(--tlight);
  margin: 1rem 0;
  padding: 1rem;
  -webkit-box-shadow: inset -3px 7px 50px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -3px 7px 50px 7px rgba(0, 0, 0, 0.75);
  box-shadow: inset -3px 7px 50px 7px rgba(0, 0, 0, 0.75);
}

.updates-container h2 {
  text-transform: capitalize;
  color: var(--tlight);
}

.updates-container img {
  max-width: 6rem;
}

.liner {
  border-left: 1px solid grey;
  border-right: 1px solid black;
  height: 100%;
  width: 1px;
}
/* icons */

.icon-container {
  list-style: none;
  display: flex;

  justify-content: space-around;
}

.icon-container img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}
.icon-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--tgreen);
  text-align: center;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.icon:hover {
  border-bottom: 1px solid var(--thoney);
}

/* modeling */

.model {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tgreen);
  color: var(--thoney);
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: -4px 5px 4px #ce5937;
  background-image: url(../img/39f99e109cffb61a2ff8b70c5c5c2114_original.png);
  background-position: center;
}
.model img {
  width: 6rem;
  height: 6rem;
}

footer {
  background-color: var(--tgrey);
}
.footer-list {
  display: flex;
  margin: 0;
  padding: 1rem;
  list-style: none;
  color: var(--tlight);
}
.footer-list li::before {
  content: "";
  border-left: 1px solid rgb(255, 0, 0);
}

/* PRODUCT */

.product-container {
  display: flex;
}

.search-sidebar {
  flex: 0.4;
  background-color: var(--ty);
}

.search-sidebar form {
  display: flex;
  flex-direction: column;
}

.prod-container {
  flex: 3;
}
.promo {
  background-color: var(--tgrey);
  height: 15rem;
}

.all-products {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.product-item {
  background-color: var(--tgreen);
  display: flex;
  flex-direction: column;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

/* Page de produit  */

.produit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--thoney);
}

.produit-container section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.produit-container section > img {
  max-height: 20rem;
}
.produit-container aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: start;
  flex-direction: column;
}

.details-list p {
  background-color: rgb(195, 195, 195);
}

.details-list p:nth-child(odd) {
  background-color: white;
}
.ajouter {
  background-color: var(--tlight);
  color: var(--tgrey);
  align-self: start;
  padding: 1rem;
  border-radius: 10%;
  text-decoration: none;
  -webkit-box-shadow: -1px 4px 8px -1px #000000;
  box-shadow: -1px 4px 8px -1px #000000;
}
.comment-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment-section form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
}
.comment-section textarea {
  width: 80%;
}

.comment {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff00 0%, #0f1e1700 100%);
  background: -webkit-linear-gradient(left, #ffffff00 0%, #0f1e1700 100%);
  background: linear-gradient(to right, #ffffffc5 0%, #0f1e17 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 2rem;
}

.user-name {
  background-color: var(--tgrey);
  color: var(--tlight);
}
.comment-content {
  padding: 1rem;
}

/* Panier  */

.panier-container {
  display: flex;
}
.panier-container aside {
  flex: 0.4;
  background-color: var(--tgreen);
}
.panier-container .panier-items {
  flex: 3;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panier-items img {
  max-width: 5rem;
}

.panier-items article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--thoney);
  width: 80%;
  margin: 1rem 0;
}
.item-details {
  flex: 2;
}

/* add form  */

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-form form {
  display: flex;
  flex-direction: column;
}
